#contenedor{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: #1e293b;
    background: radial-gradient(#1e293b 0%, #1e293b 80%, #121b28 100%);
}

#cortina{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
#cortina > div{
    position: absolute;
    width: 100%;
    left: 0%;
    background-color: #05101c;
}
#cortina > div:first-child{
    top: 0%;
}
#cortina > div:last-child{
    bottom: 0%;
}
.cortina-off > div{
    height: 0%;
    transition: height 0.5s ease-in;
}
.cortina-on > div{
    height: 50%;
    transition: height 0.5s ease-out;
}

.cortina-off{
    visibility: hidden;
    transition: visibility 0.5s;
}
.cortina-on{
    visibility: visible;
}

#fondo{
    position: absolute;
    width: auto;
    height: auto;
    top: 0px;
    left: 0px;
    background: #9ad1f3;
    background: linear-gradient(to bottom, #9ad1f3, #ffffff);
}
#carretera{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
#carretera-canv{
    position: relative;
    width: 100%;
    height: 100%;
}
#montana{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
.nube{
    position: absolute;
    width: 100%;
    height: auto;
}
.nube > img:first-child{
    position: relative;
    width: auto;
    height: auto;
}
.nube > img:last-child{
    position: absolute;
    width: auto;
    height: auto;
    left: 100%;
    top: 0%;
}

.animacion-nube-1,
.animacion-nube-2,
.animacion-nube-3,
.animacion-nube-4,
.animacion-nube-5{
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: animacion-nube;
}
.animacion-nube-1{
    animation-duration: 40s;
}
.animacion-nube-2{
    animation-duration: 45s;
}
.animacion-nube-3{
    animation-duration: 55s;
}
.animacion-nube-4{
    animation-duration: 47s;
}
.animacion-nube-5{
    animation-duration: 50s;
}
@keyframes animacion-nube{
    0%{
        left: -100%;
    }
    100%{
        left: 0%;
    }
}

@keyframes animacion-boton-over {
    0%,50%,100%{
        transform: translateX(0px);
    }
    25%{
        transform: translateX(-2px);
    }
    75%{
        transform: translateX(2px);
    }
}

#cabina{
    position: absolute;
    width: 100%;
    width: calc(100% + 50px);
    width: -moz-calc(100% + 50px);
    height: 100%;
    top: 0px;
    pointer-events: none;
}

#cabina-top,
#cabina-bot{
    position: absolute;
    width: 100%;
    height: auto;
}
#cabina-top{
    top: 0px;
}
#cabina-bot{
    bottom: 0px;
}

#cabina-top > img,
#cabina-bot > img{
    position: relative;
    width: 100%;
    height: auto;
}

#velocimetro{
    position: absolute;
    width: 7.72%;
    height: 28.8%;
    left: 17.34%;
    top: 53.60%;
}
#aguja{
    position: absolute;
    width: 19.86%;
    height: auto;
    left: 40.39%;
    top: 10.13%;
    transform-origin: center 70%;
}

#mapa{
    position: absolute;
    width: 12.73%;
    height: 28%;
    top: 54%;
    left: 43.63%;
    border-radius: 4px;
    overflow: hidden;
}
#mapa-img{
    position: absolute;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    height: 200%;
}


#volante{
    position: absolute;
    width: 45.62%;
    height: auto;
    left: -2.55%;
    bottom: -15%;
    transform-origin: 52.69% 80%;
}
#volante-img{
    position: relative;
    width: 100%;
    height: auto;
}

#ojos{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
#ojos > div{
    position: absolute;
    width: 100%;
    left: 0px;
}
#ojo1{
    top: 0px;
}
#ojo2{
    bottom: 0px;
}
#ojo3{
    top: 0px;
    height: 100%;
    background-color: #000;
}
#ojo1 img,#ojo2 img{
    width: 100%;
    height: 100%;
}
#ojo2 img{
    transform: rotateX(180deg);
}

.ojos-on > #ojo1,.ojos-on > #ojo2{
    animation: animacion-ojos1 3s infinite;
}
.ojos-on > #ojo3{
    animation: animacion-ojos2 3s infinite;
}
@keyframes animacion-ojos1 {
    0% {
        height: 10%;
        animation-timing-function: ease-out;
    }
    20%{
        height: 25%;
        animation-timing-function: linear;
    }
    30%{
        height: 30%;
        animation-timing-function: ease-in;
    }
    50%{
        height: 15%;
        animation-timing-function: linear;
    }
    100%{
        height: 10%;
    }
}
@keyframes animacion-ojos2 {
    0% {
        opacity: 0.2;
        animation-timing-function: ease-out;
    }
    20%{
        opacity: 0.8;
    }
    30%{
        opacity: 0.8;
        animation-timing-function: ease-in;
    }
    50%,100%{
        opacity: 0.2;
    }
}
.ojos-on{
    visibility: visible;
    transition: visibility 0s 1s;
}
.ojos-off,.celular-off,.peatones-off{
    visibility: hidden;
}

#celular,
#peatones{
    position: absolute;
    width: auto;
    height: 50%;
    left: 10%;
}
#celular{
    top: 15%;
}
#peatones{
    top: 5%;
}
#celular-img,
#peatones-img{
    position: relative;
    width: auto;
    height: 100%;
}
#celular-onda{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50%;
    top: 50%;
    top: calc(50% - 100px);
    top: -moz-calc(50% - 100px);
    left: 50%;
    left: calc(50% - 100px);
    left: -moz-calc(50% - 100px);
}
.celular-on #celular-img{
    animation: animacion-celular-img 2s infinite linear;
}
@keyframes animacion-celular-img{
    0%,10%,20%,30%,40%{
        transform: rotate(0deg);
    }
    5%,25%,45%{
        transform: rotate(-5deg);
    }
    15%,35%{
        transform: rotate(5deg);
    }
    50%,100%{
        transform: rotate(0deg);
    }
}
.celular-on #celular-onda{
    animation: animacion-celular-onda 1s infinite linear;
}
@keyframes animacion-celular-onda{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(1.5);
        opacity: 0;
    }
}
.peatones-on #peatones-img{
    animation: animacion-peatones-img 0.5s infinite linear;
}
@keyframes animacion-peatones-img{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
}

#botones-container{
    position: absolute;
    width: 40%;
    height: auto;
    right: 2%;
}
.botones-container-off{
    top: 100%;
    transform: translateY(100%);

    transition: top 0.5s ease-in 0.5s, transform 0.5s ease-in 0.5s;
}
.botones-container-on{
    top: 98%;
    transform: translateY(-100%);

    transition: top 0.5s ease-out, transform 0.5s ease-out;
}
#botones-container > img{
    position: relative;
    width: 100%;
    height: auto;
}

#botones{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5%;
    top: 0px;
    left: 0px;
}
#botones > h4{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    font-family: 'Britannic-Bold';
    font-size: 1.2rem;
    color: #ffffff;
    text-align: center;
}
.botones-grid{
    position: relative;
    width: 100%;
    height: auto;
    height: calc(100% - 40px);
    height: -moz-calc(100% - 40px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.botones-grid > button{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 50%;
    height: calc((100% - (15px * 3)) / 2);
    height: -moz-calc((100% - (15px * 3)) / 2);
    margin-top: 15px;
    
    border-radius: 8px;
    border: #475569 solid 2px;
    background: #283447;
    background: linear-gradient(to bottom, #324054, #1f2a3c);
    
    transition: border 0.25s, transform 0.25s;
}
.boton-grid-show{
    display: flex;
}
.boton-grid-hide{
    display: none;
}

#boton-grid-1,
#boton-grid-2,
#boton-grid-3{
    width: 33%;
    width: calc((100% - (15px * 4)) / 3);
    width: -moz-calc((100% - (15px * 4)) / 3);
    margin-left: 15px;
}
#boton-grid-3{
    margin-right: 15px;
}
#boton-grid-4,
#boton-grid-5{
    width: 50%;
    width: calc((100% - (15px * 3)) / 2);
    width: -moz-calc((100% - (15px * 3)) / 2);
    margin-left: 15px;
    margin-bottom: 15px;
}
#boton-grid-5{
    margin-right: 15px;
}

.botones-grid > button > img{
    width: auto;
    height: 40%;
    margin-bottom: 10px;
}
.botones-grid > button > p{
    font-family: 'Britannic-Regular';
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
}
.botones-grid > button > div{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #05101c;
    transition: background-color 0.3s;
}

.botones-grid > button:hover{
    cursor: pointer;
    transform: scale(1.1);
    border: #4cc1c8 solid 3px;
}

.botones-grid .active > div{
    background-color: #96cc36;
}
.botones-grid .active{
    border: #4cc1c8 solid 2px;
}